name: Deploy Docker Container

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Create .env file
      run: |
        echo "MONGO_URL=${{ secrets.MONGO_URL }}" >> .env
    - name: Build Docker Image
      run: |
        docker build -t whosbigger-back-image .
        docker tag whosbigger-back-image garwalle/whosbigger-back-image:latest
    - name: Push Docker Image
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin 
        docker push garwalle/whosbigger-back-image:latest
    - name: Deploy to Production
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker stop whosbigger-back
          docker container rm whosbigger-back
          docker image rm garwalle/whosbigger-back-image
          docker pull garwalle/whosbigger-back-image
          docker run -d --net="whosbigger" -p 3001:3001 --name whosbigger-back garwalle/whosbigger-back-image
